main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #f5f7f8;
  --secondary: #b7bcbd;
  --tertiary: #55626e;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

.font-link {
  font-family: "Bebas Neue", cursive;
  color: var(--tertiary);
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--dark);
  color: var(--light);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.2rem;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.9)
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
  color: var(--primary);
  margin-left: 900;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  background-color: #3da3ce;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

p {
  font-style: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  margin-top: 0;
  color: var(--tertiary);
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--dark);
}

header a {
  color: var(--light);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primary);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.apps {
  height: 500px;
  width: 500px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.apps iframe {
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  /* margin-top: var(--spacing-five); */
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

button {
  background: var(--tertiary);
  border: 0;
  border-radius: 5px;
  color: var(--primary);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

a {
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.navActive {
  color: var(--secondary);
}

body {
  background-color: var(--primary);
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--primary);
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--tertiary);
}

header a {
  text-decoration: none;
  color: var(--tertiary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  font-family: "Bebas Neue", cursive;
  color: var(--tertiary);
}

.hero {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.hero-item {
  
  height: 450px;
  width: 310px;
  box-shadow: 0 10px 10px -5px var(--tertiary);
}

.hero-item img {
  width: 100%;
  height: 100%;
}

.section-1 {
  display: flex;
  padding: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-1 p {
  margin: 40px;
  line-height: 40px;
  text-align: center;
}

.section-text {
  background-color: var(--secondary);
  border-radius: 25px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
  border: 5px solid var(--tertiary);
}

.section-text h2 {
  text-align: center;

  padding-top: 40px;
  color: var(--tertiary);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.section-text p {
  padding-bottom: 10px;
  color: var(--tertiary);
  font-size: larger;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  background-color: var(--secondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 5px 5px 12px var(--tertiary);
  margin-top: 20px;
}

.my-certs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  background-color: var(--secondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 5px 5px 12px var(--tertiary);
  margin-top: 20px;
  padding-bottom: 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  background-color: var(--secondary);
  font-family: "Bebas Neue", cursive;
  color: var(--primary);
  box-shadow: 5px 5px 12px var(--tertiary);
  margin-top: 10px;
  border: 5px solid var(--secondary);
  padding-top: 5px;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  background-color: var(--secondary);
  font-family: "Bebas Neue", cursive;
  color: var(--primary);
  box-shadow: 5px 5px 12px var(--tertiary);
  border: 5px solid var(--secondary);
}

.githubIcon {
  color: black;
}

.facebookIcon {
  color: #3b5998;
}

.linkedinIcon {
  color: #0e76a8;
}

.cert-1 {
  box-shadow: 5px 5px 12px var(--tertiary);
}

.contact-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  background-color: var(--secondary);
  font-family: "Bebas Neue", cursive;
  color: var(--primary);
  box-shadow: 5px 5px 12px var(--tertiary);
  margin-top: 20px;
  border: 5px solid var(--secondary);
  padding-right: 500px;
  padding-top: 20px;
}

.contact-style h4 {
  padding-right: 50px;
}

.section-2 h2,
h3 {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 40px;
  color: var(--primary);
}

.apps {
  height: 500px;
  width: 500px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.apps iframe {
  width: 100%;
  height: 100%;
}

.section-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  background-color: #3da3ce;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
  border: 5px solid var(--tertiary);
}

.section-3-contact a {
  text-decoration: none;
  color: var(--tertiary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

.section-3 h2 {
  color: var(--tertiary);
}

.section-3 p,
a {
  text-decoration: none;
  color: var(--tertiary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

.section-2-h2 {
  color: var(--primary);
}
